*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    color: white;
}
a{
    text-decoration: none;
}
#header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #333;
    padding: 10px;
}
.title img{
    min-width: 70px;
}
.title{
    display: flex;
}
.navbar li,ul>li{
    list-style-type: none;
}
.navbar li,.title,img{
    padding: 0;
    margin: 0;
}
.navbar ul,.navbar li>ul{
    margin:0;
    padding: 0;
    display: flex;
}
h1{
    font-size: 3em;
    color: white;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.toggle {
    position: absolute;
    top: 1.5em;
    right: 1em;
    width: 51px;
    height: 51px;
    display: none;
    flex-direction: column;
    justify-content: space-around;

}

.toggle .link {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 4px;
}
.navbar li:hover{
    background-color: #555;
}

.verify-box{
    position: relative;
    background-color: red;
    top: 360px;
    left: 50%;
    width:40%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px rgb(0, 199, 50) ;
    padding: 30px;
    color: black;
    background-color: rgb(197, 255, 197);
    transform: translate(-50%,-50%);
}
.verify-box h2{
    font-size: 2.5em;
    font-weight: lighter;
    padding: 10px;
    color: #333;
}
.verify-box p{
    padding: 10px;
    font-size: 1.2em;
    color: #333;
}
    a{
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px;
    color: rgb(97, 129, 122);
}
.verify-box h3{
    padding: 20px;
    font-size: 1.5em;
    color: #333;
}
.code{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    padding: 0px;
    grid-gap: 10px;
    grid-auto-rows: 70px;
    color: #333;
}
.code input{
    border-radius: 3px;
    box-shadow: 1px -2px 3px 1px;
    border: none;
    width: 100%;
    font-size: 2em;
    color: #333;
    text-align: center;
}
button{
    width: 100%;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 2%;
    border: none;
    font-size: 1.3em;
}
.footer {
    clear: left;
    background-color:#24262b;
    margin: 0;
    margin-top: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap ;
    width: 90%;
    margin-left: 40px;
}
.fotter-container{
    max-width: 100%;
    padding: 10px;
}
.footer *{
    color:white ;
}
.col{
    width: 25%;
    padding:0px 10px;
}
.col-1{
    width: 15%;
}
.row-2{
    text-align: center;
    width: 100%;
}
.col-2 {
    margin: 0px;
    padding: 0;
}
.col-4{
    text-align: center;
}
.col h3{
    color: white;
}
.social-links img{
    width: 40px;
}
.social-links a{
    background-color: rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    text-align:  center;
    color: #ffffff;
}
.social-links a:hover{
    background-color: #ffffff;
}
.footer .col:not(:last-child) a:hover{
    padding-left:10px;
}
@media (max-width:720px),
(max-width:1050px) {
    .col {
        width: 50%;
        margin-bottom: 30px;
    }

    #header {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: 50%;
    }

    .empty {
        position: relative;
        height: 0;
    }

    .fundraiser {
        position: absolute;
        bottom: 5.90em;
        right: 8.46em;

    }

    .fundraiser h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 160px;
        height: 20px;
        font-size: 50%;
        border-radius: 10px;
    } 
    .toggle{
        display: flex;
    }
    .navbar{
        display: none; 
        width: 100%;
    }
    .navbar li {
        text-align: center;
        margin-left: 20px;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
        padding: 2px;
    }
    .navbar li a{
        padding: .5rem;
    }
    .navbar.active{
        display: flex;
    }
    .paragraph {
        display: none;
    }
}
@media(max-width:1050px){
    #header{
        z-index: 1;
        font-size: 0.9em;
    }
    .container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 400px;
        grid-gap: 40px;
        z-index: 2;
        font-size: 0.8em;
    }
}
@media(max-width:720px){
    #header{
        font-size: 0.7em;
    }
    .container{
        position: relative;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 300px;
    }
}